# YT-DB options
DB_USERNAME=ytdiff
DB_NAME=vidlist
DB_HOST=yt-db

# PGADMIN options
PG_ADMIN_EMAIL=admin@example.com
PG_ADMIN_PASSWORD=change_me_or_use_secret_file

# YT-DIFF options
PROTOCOL=http
PORT=8888
BASE_URL=/ytdiff
HIDE_PORTS=false
NATIVE_HTTPS_SUPPORT=false
NO_COLOR=false

# Cookies file for yt-dlp
CONTAINER_COOKIES_FILE=/home/ytdiff/cookies.txt

# Rate limiting settings
RATE_LIMIT_GLOBAL_MAX_REQUESTS=10
RATE_LIMIT_ACTION_MAX_REQUESTS=10
CACHE_MAX_ITEMS=500
CACHE_MAX_AGE=3600
ACTION_WINDOW_SEC=3600

# Registration
ALLOW_REGISTRATION=true
MAX_USERS=1

# Save path
CONTAINER_SAVE_PATH=/home/ytdiff/Videos/yt-dlp/
SLEEP=3
CHUNK_SIZE_DEFAULT=10
SAVE_SUBTITLES=false
SAVE_COMMENTS=false
SAVE_DESCRIPTION=true
SAVE_THUMBNAIL=true
RESTRICT_FILENAMES=true
MAX_FILENAME_LENGTH=240

MAX_DOWNLOADS=1
MAX_LISTINGS=1
CLEANUP_INTERVAL=*/30 * * * *
PROCESS_MAX_AGE=1800000

# Schedule
UPDATE_SCHEDULED=0 4 * * *
PRUNE_INTERVAL=0 2 * * *
TZ_PREFERRED=Asia/Kolkata

# Paths/Env specific to your setup
DB_LOCATION=./data/db
HOSTNAME=localhost
LOG_LEVELS=info
HOST_SAVE_PATH=./videos
DB_BACKUP_LOCATION=./backups
HOST_COOKIES_FILE=./cookies.txt

# Youtube Configuration (Best used via secret files)
# YOUTUBE_CLIENT_ID=
# YOUTUBE_CLIENT_SECRET=
# YOUTUBE_REFRESH_TOKEN=
# YOUTUBE_API_KEY=
