[submodule "frontend"]
	path = frontend
	url = ssh://git@192.168.0.110:2222/pi5_git/ytdiff.git
	branch = feature/full-refactor
[submodule "tests"]
	path = tests
	url = https://github.com/sagniKdas53/yt-diff-tests.git
	branch = main
