node_modules/
venv/
.venv/
logs/
dist/
ssl/
gluetun/
*.log
.codex
db_password.txt
secret_key.txt
cookie_secret.txt
openvpn_password.txt
openvpn_user.txt
proxy_string.txt
yt-dlp
iwara.json
.agents/
large_play_list_issues
cookies_secret.txt
youtube_client_id.txt
youtube_client_secret.txt
youtube_refresh_token.txt
youtube_api_key.txt
pg_admin_*.txt
