[submodule "frontend"]
	path = frontend
	url = https://github.com/sagniKdas53/yt-diff-react.git
	branch = feature/full-refactor
[submodule "tests"]
	path = tests
	url = https://github.com/sagniKdas53/yt-diff-tests.git
	branch = main
