networks:
  revProxy-net:
    external: true

secrets:
  db_password:
    file: db_password.txt
  secret_key:
    file: secret_key.txt
  openvpn_user:
    file: openvpn_user.txt
  openvpn_password:
    file: openvpn_password.txt
  proxy_string:
    file: proxy_string.txt

volumes:
  pgadmin-data:


services:
  yt-db:
    image: postgres:16.2-alpine3.19
    # postgres:14.10-alpine3.18
    container_name: yt-db
    ports:
      - 5432:5432
    restart: always
    secrets:
      - db_password
    networks:
      - revProxy-net
    environment:
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD_FILE: /run/secrets/db_password
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - ${DB_LOCATION}:/var/lib/postgresql/data
    labels:
      # Watchtower monitoring
      - "com.centurylinklabs.watchtower.enable=true"
      # Autoheal
      - "autoheal.enable=true"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${DB_USERNAME} -d ${DB_NAME}" ]
      interval: 30s
      timeout: 10s
      retries: 5

  yt-diff:
    image: ghcr.io/sagnikdas53/yt-diff:master
    container_name: yt-diff
    restart: unless-stopped
    build:
      context: .
      dockerfile: Dockerfile
      args:
        # This is used to build the frontend in the docker image
        - VITE_BASE_PATH=${BASE_URL}
    volumes:
      - type: bind
        source: ${HOST_SAVE_PATH}
        target: ${CONTAINER_SAVE_PATH}
        read_only: false
      - type: bind
        source: ${HOST_COOKIES_FILE}
        target: ${CONTAINER_COOKIES_FILE}
        read_only: false # yt-dlp needs to write to this file, otherwise it fails
    depends_on:
      yt-db:
        condition: service_healthy
      valkey:
        condition: service_healthy
    networks:
      - revProxy-net
    ports:
      - ${PORT}:${PORT}
    secrets:
      - db_password
      - secret_key
      - proxy_string
    environment:
      - PROTOCOL=${PROTOCOL}
      - HOSTNAME=${HOSTNAME}
      - PORT=${PORT}
      - BASE_URL=${BASE_URL}
      - HIDE_PORTS=${HIDE_PORTS}
      - USE_NATIVE_HTTPS=${NATIVE_HTTPS_SUPPORT}
      - LOG_LEVELS=${LOG_LEVELS}
      - NO_COLOR=${NO_COLOR}
      # Database configuration
      - DB_HOST=${DB_HOST}
      - DB_USERNAME=${DB_USERNAME}
      - DB_PASSWORD_FILE=/run/secrets/db_password
      - SECRET_KEY_FILE=/run/secrets/secret_key
      # Download configuration
      - SAVE_PATH=${CONTAINER_SAVE_PATH}
      - SLEEP=${SLEEP}
      - CHUNK_SIZE_DEFAULT=${CHUNK_SIZE_DEFAULT}
      - SAVE_SUBTITLES=${SAVE_SUBTITLES}
      - SAVE_DESCRIPTION=${SAVE_DESCRIPTION}
      - SAVE_COMMENTS=${SAVE_COMMENTS}
      - SAVE_THUMBNAIL=${SAVE_THUMBNAIL}
      - RESTRICT_FILENAMES=${RESTRICT_FILENAMES}
      - MAX_FILENAME_LENGTH=${MAX_FILENAME_LENGTH}
      - COOKIES_FILE=${CONTAINER_COOKIES_FILE}
      - MAX_USERS=${MAX_USERS}
      # Update configuration
      - TZ_PREFERRED=${TZ_PREFERRED}
      - UPDATE_SCHEDULED=${UPDATE_SCHEDULED}
      # Proxy Info
      - PROXY_STRING_FILE=/run/secrets/proxy_string
      # Redis Configuration
      - REDIS_HOST=valkey
      - REDIS_PORT=6379
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.ytdiff.entryPoints=web,websecure"
      - "traefik.http.routers.ytdiff.rule=Host(`${HOSTNAME}`) && PathPrefix(`${BASE_URL}`)"
      - "traefik.http.services.ytdiff.loadbalancer.server.port=${PORT}"
      - "traefik.http.services.ytdiff.loadBalancer.passHostHeader=true"
      - "traefik.http.routers.ytdiff.middlewares=http-to-https@docker"
      - "traefik.http.routers.ytdiff.tls=true"
      - "traefik.http.routers.ytdiff.tls.certresolver=tailsolver"
      - "traefik.http.routers.ytdiff.tls.domains[0].main=${HOSTNAME}"
      # Autoheal
      - "autoheal.enable=true"
      # Watchtower monitoring
      - "com.centurylinklabs.watchtower.enable=true"
    healthcheck:
      test: [ "CMD", "wget", "-q", "--spider", "http://127.0.0.1:8888/ytdiff/ping" ]
      interval: 5m
      timeout: 5s
      start_period: 30s
      retries: 3

  valkey:
    image: valkey/valkey:8-alpine
    container_name: valkey
    restart: always
    networks:
      - revProxy-net
    ports:
      - "6379:6379"
    labels:
      - "autoheal.enable=true"
      - "com.centurylinklabs.watchtower.enable=true"
    healthcheck:
      test: [ "CMD", "valkey-cli", "ping" ]
      interval: 30s
      timeout: 10s
      retries: 5

  pgbackups:
    container_name: pgbackups
    user: postgres:postgres
    image: prodrigestivill/postgres-backup-local
    restart: always
    volumes:
      - type: bind
        source: ${BACKUP_LOCATION}
        target: /backups
    links:
      - yt-db
    depends_on:
      - yt-db
    secrets:
      - db_password
    networks:
      - revProxy-net
    environment:
      - BACKUP_ON_START=TRUE
      - POSTGRES_HOST=yt-db
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USERNAME}
      - POSTGRES_PASSWORD_FILE=/run/secrets/db_password
      - POSTGRES_EXTRA_OPTS=-Z1 --schema=public --blobs
      - SCHEDULE=@daily
      - BACKUP_ON_START=TRUE
      - BACKUP_KEEP_DAYS=7
      - HEALTHCHECK_PORT=8080

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin4
    restart: always
    ports:
      - "8686:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PG_ADMIN_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PG_ADMIN_PASSWORD}
      SCRIPT_NAME: /pgadmin
    volumes:
      - pgadmin-data:/var/lib/pgadmin
    depends_on:
      yt-db:
        condition: service_healthy
    networks:
      - revProxy-net
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.pgadmin.entryPoints=web,websecure"
      - "traefik.http.routers.pgadmin.rule=Host(`${HOSTNAME}`) && PathPrefix(`/pgadmin`)"
      - "traefik.http.services.pgadmin.loadbalancer.server.port=80"
      - "traefik.http.services.pgadmin.loadBalancer.passHostHeader=true"
      - "traefik.http.routers.pgadmin.middlewares=http-to-https@docker"
      - "traefik.http.routers.pgadmin.tls=true"
      - "traefik.http.routers.pgadmin.tls.certresolver=tailsolver"
      - "traefik.http.routers.pgadmin.tls.domains[0].main=${HOSTNAME}"
      # Autoheal
      - "autoheal.enable=true"
      # Watchtower monitoring
      - "com.centurylinklabs.watchtower.enable=true"
    healthcheck:
      test: [ "CMD", "wget", "-O", "-", "http://localhost:80/pgadmin/misc/ping" ]
      interval: 30s
      timeout: 10s
      retries: 5

  gluetun:
    image: qmcgaw/gluetun
    container_name: gluetun
    networks:
      - revProxy-net
    cap_add:
      - NET_ADMIN
    secrets:
      - openvpn_user
      - openvpn_password
    environment:
      - VPN_SERVICE_PROVIDER=${SERVICE_PROVIDER_VPN}
      - OPENVPN_USER_SECRETFILE=/run/secrets/openvpn_user
      - OPENVPN_PASSWORD_SECRETFILE=/run/secrets/openvpn_password
      - SERVER_COUNTRIES=${SERVER_COUNTRIES_PREFERRED}
      - FREE_ONLY=${FREE}
      - Tz=${TZ_PREFERRED}
      - HTTPPROXY=${HTTP_PROXY}
      - HTTPPROXY_LISTENING_ADDRESS=${HTTP_PROXY_LISTENING_ADDRESS}
      - HTTPPROXY_STEALTH=${HTTP_PROXY_STEALTH}
      - HTTPPROXY_USER=${HTTP_PROXY_USER}
      - HTTPPROXY_PASSWORD=${HTTP_PROXY_PASSWORD}
    devices:
      - /dev/net/tun:/dev/net/tun
    volumes:
      - ./gluetun:/gluetun
    restart: "unless-stopped"
    ports:
      - 51413:51413
      - 51413:51413/udp
      - 3128:3128 # <- Enable to use outside of the docker network
    labels:
      # Autoheal
      - "autoheal.enable=true"
      # Watchtower monitoring
      - "com.centurylinklabs.watchtower.enable=true"
